@model IEnumerable<Foodcore.Models.Menu>




    
<div class="row">

    
        @foreach(var item in Model)
{
    <div class="col-sm-4">   

        <div class="card">
  <img src="~/@item.Images">
  <div class="container">
  <div>@item.Itemid</div>
   <div>@item.Itemname</div>
   <div>@item.Price</div>
   <div>@item.Itemdesc</div>
  <a asp-action="Addtocart"  asp-route-myitemid=@item.Itemid class="btn btn-info">Addtocart</a>
 
</div>         
  </div>
   </div>
  }
         
    </div>
  